body{
    margin: 0px;
}
#logo{
    position: absolute;
    top: 29px;
    left: 290px;
    width: 300px;
    height: 60px;
}
#logobox{
    background-color: rgb(247, 25, 25);
    width: 100%;
    height: 70px;
}
li{
    display:inline-block
}
ul{
    color: blanchedalmond;
    position: absolute;
    top: 20px;
    left: 640px;
}
#mainimage{
    position: absolute;
    top: 68px;
    left: 0px;
    height: 650px;
    width: 100%;
    background-image: url(http://britannia.co.in/images/Tiger_Desktop.jpg);
}
#videobox{
    background-color: rgb(229, 210, 247);
    position: absolute;
    top: 690px;
    height: 440px;
    width: 100%;
}
#video1{
    position: absolute;
    top: 60px;
    left: 150px;
}
#video2{
    position: absolute;
    top: 60px;
    left: 550px;
}
#video3{
    position: absolute;
    top: 60px;
    left: 940px;
}
#footerbox{
    position: absolute;
    top: 1130px;
    background-color: rgb(33, 187, 33);
    width: 100%;
    height: 300px;
}
#footnotes{
    position: absolute;
    left: 300px;
    top: 100px;
    color: white;
    width: 1400px;
    height: 180px;
}
